/* Applique un fond noir à toute la page */
body {
    background-color: #000000;  /* Fond noir */
    color: white;  /* Texte en blanc */
    font-family: SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;  /* Police pour tout le texte */
}

p {
    font-size: 1rem;
}

/* Conteneur qui utilise Flexbox pour afficher les boîtes */
.flex-container {
    display: flex;  /* Active Flexbox */
    flex-wrap: wrap;  /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-evenly;  /* met le meme espacement entre les item */
    padding: 0px;
    margin:0;
    margin-bottom: 3px;
}

/* OBJECTIF FAIRE DES BOX RESPONSIVE POUR CHAQUE ECRAN DONC TEL, PC AVEC FLEXBOX */
.box {
    background-color: rgb(18, 18, 18);  /* Fond gris foncé */
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    width: 24.4%;  /* Largeur fixe des boîtes */
    text-align: center;
    height: 450px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1 {
    background-color: rgb(18, 18, 18);  /* Fond gris foncé */
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    width: 49.5%;  /* Largeur fixe des boîtes */
    text-align: center;
    height: 450px;
}

.box-header{
    display:flex;
    align-items: flex-start;
    margin-bottom: 8px;    
}

.box-icon{
    width:18px;
    margin-bottom: 4px;
    filter: invert(1);
    padding-top: 10px;
    padding-left: 10px;
}

.box-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align:left;
    padding-left: 10px;
    padding-top:5px;
}

.box-subtitle {
    font-size: 10px;
    color: #aaa;
    margin: 0;
    padding-left: 10px;
}