/* Applique un fond noir à toute la page */
body {
    background-color: #000000;  /* Fond noir */
    color: white;  /* Texte en blanc */
    font-family: SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;  /* Police pour tout le texte */
}

p {
    font-size: 1.2rem;
    font-family:SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

/* Conteneur qui utilise Flexbox pour afficher les boîtes */
.flex-container {
    display: flex;  /* Active Flexbox */
    flex-wrap: wrap;  /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-evenly;  /* met le meme espacement entre les item */
    padding: 0px;
    margin:0;
    margin-bottom: 3px;
}

.flex-container2 {
    display: flex;  /* Active Flexbox */
    flex-wrap: wrap;  /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: flex-start;  /* met les éléments à droite */
    padding: 0px;
    margin:0;
    margin-bottom: 3px;
    gap: 4px;                   
    padding-left: 4px;
}

/* OBJECTIF FAIRE DES BOX RESPONSIVE POUR CHAQUE ECRAN DONC TEL, PC AVEC FLEXBOX */
.box {
    background-color: rgb(18, 18, 18);  /* Fond gris foncé */
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    width: 24.4%;  /* Largeur fixe des boîtes */
    text-align: center;
    height: 450px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.graph-container{
    flex:1;
}

.box1 {
    background-color: rgb(18, 18, 18);  /* Fond gris foncé */
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    width: 49.5%;  /* Largeur fixe des boîtes */
    text-align: center;
    height: 450px;
}

.box-dropdown {
    margin-left: auto;
    margin-top: 10px;   /* petit espace depuis le haut */
    margin-right: 10px;
}

.box-header{
    display:flex;
    align-items: flex-start;
    margin-bottom: 8px;    
}

.box-icon{
    width:18px;
    margin-bottom: 4px;
    filter: invert(1);
    padding-top: 10px;
    padding-left: 10px;
}

.box-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align:left;
    padding-left: 10px;
    padding-top:5px;
}

.box-subtitle {
    font-size: 10px;
    color: #aaa;
    margin: 0;
    padding-left: 10px;
}

.social-content{
    width:100%;
    height: 90%;
    display:flex;
    flex-direction:column;
    gap:5%;
    padding-top: 30%;
    align-items:center;
}
.social-content-item{
    background-color: rgb(30,30,30);
    width:90%;
    height:28%;
    border-radius: 5%;
    position:relative;
}
.record-content{
    width:100%;
    height: 90%;
    display:flex;
    flex-wrap:wrap;
    gap:5%;
    padding-top: 10%;
    padding-bottom:10%;
    justify-content:center;
}

.record-content-item{
    background-color: rgb(30,30,30);
    width:40%;
    height:25%;
    border-radius: 5%;
    position:relative;
}

.kudos-count{
    color:white;
    font-family:SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    position: absolute;
    top:-5px;
    left:0;
    font-size: 12px;
}

.kudos{
    color: white;
    font-family: SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    position:absolute;
    top:27%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:23px;
    font-weight: 700;
}

.kudos-text{
    color:white;
    position:absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    font-size: 12px;
    font-family: SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.map-title {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }

  .map-infos-container {
    display: flex;
    justify-content: center;  /* Centre les éléments dans la box */
    gap: 20px;                 /* Espacement entre chaque bloc */
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .map-info {
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 0;
  }
  

  .heatmap-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-bottom: 10px;
}

.heatmap-legend {
    margin-top: 10px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.legend-colors {
    display: flex;
    gap: 4px;
}

.legend-colors div {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.legend-label {
    color: white;
    font-size: 12px;
    font-family: monospace;
}

