<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenue sur Athlete Hub</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <div class="container">
        <h1> Athlete Hub 🏃</h1>
        <p>Visualize your weekly and yearly performance through dynamic charts and interactive Strava recaps.</p>
        <a href="/connect">
            <img src="{{ url_for('static', filename='images/connect-with-strava.svg') }}" alt="Strava Logo" width="150">
        
        </a>
    </div>
    
</body>
</html>